@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* .Jersey {
  font-family: 'Jersey';
} */

@font-face {
  font-family: 'Jersey';
  src: url(./fonts/Jersey.ttf);
}
::-webkit-scrollbar {
  display: none;
}